@import "_reset.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
}
a {
  color: black;
  text-decoration: none;
}

body {
  font-size: 16px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.app {
  display: flex;
  flex-direction: row;
  height: 100vh;

  .app-device-list {
    border-right: 1px solid #ccc;

    background: #efefef;
  }
  .app-directory-list {
    overflow: scroll;
    border-radius: 5px;
    flex-grow: 1;
  }
}

.device-list {
  .device-list-item {
    padding: 1rem;
    text-align: center;
    &-active {
      background: darken(#efefef, 10%);
      opacity: 1;
      .device-list-item-icon {
        opacity: 1 !important;
      }
    }
    &:hover {
      .device-list-item-icon {
        opacity: 1 !important;
      }
      opacity: 1;
    }
    .device-list-item-serial {
      display: block;
    }

    .device-list-item-model {
      display: block;
      padding: 0.5rem;
      font-weight: bold;
    }

    .device-list-item-link {
      display: block;
    }
    .device-list-item-icon {
      width: 10rem;
      font-size: 5rem;
      opacity: 0.3;
    }
  }
  .device-list-refresh {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 12rem;
    &-link {
      padding: 1rem;
      text-align: center;
      display: block;
    }
    &-link:hover {
      background: #cdcdcd;
    }
    &-icon {
      margin-right: 0.4rem;
    }
  }
  &-nodevices {
    width: 12rem;
    text-align: center;
    padding: 0.5rem;
    display: block;
  }
}

.directory-list-toolbar {
  background: hsl(0, 0%, 94%);
  border-bottom: 1px solid #777;
  display: flex;
  left: 12rem;
  padding: 0.5rem;
  position: fixed;
  right: 0;
  .directory-list-toolbar-device {
    flex-grow: 1;
  }
  .directory-list-toolbar-device-model {
    font-size: 1.8rem;
    font-weight: bold;
  }
  .directory-list-toolbar-device-serial {
    color: #999999;
    margin-left: 0.5rem;
  }
  .directory-list-toolbar-path {
    margin-top: 0.8rem;
  }
  .directory-list-toolbar-download {
    text-align: right;
  }
  .directory-list-toolbar-download-button {
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    color: #fff;
    background: #3db356;
    border: 0;
    margin: 0.2rem;
  }
  .directory-list-toolbar-download-icon {
    margin-right: 0.4rem;
  }
  .directory-list-toolbar-path-destination {
    text-align: right;
    padding: 0.2rem;
    font-size: 0.8rem;
    font-weight: bold;
    color: #999999;
  }
}

.directory-list {
  bottom: 0;
  flex-direction: row;
  left: 12rem;
  overflow: scroll;
  position: fixed;
  position: fixed;
  right: 0;
  top: 5rem;

  &.file-info-present {
    padding-bottom: 10.2rem;
  }

  .directory-list-item {
    padding: 0.25rem 1rem;

    &:hover {
      background: #ccc;
    }
    .directory-list-item-link {
      text-decoration: none;
      display: block;
    }
    .directory-list-item-icon {
      padding-right: 0.5rem;
      min-width: 1.6rem;
    }
  }

  .directory-list-item-directory {
    font-weight: bold;
  }
}

.file-info {
  position: fixed;
  bottom: 0;
  left: 12rem;
  right: 0;
  height: 10rem;
  background: #fafafa;
  border-top: 1px solid #ccc;
  display: flex;
  flex-direction: row;

  .file-info-left {
    flex-grow: 1;
    border-right: 1px solid #999;
    padding: 0.4rem;
    position: relative;
  }
  .file-info-right {
    background: #efefef;
    min-width: 11rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .file-info-group {
    padding: 0.3rem;
  }
  .file-info-label {
    font-weight: bold;
    margin-right: 1rem;
    min-width: 5rem;
    display: inline-block;
  }
  .file-info-value {
    padding: 0;
    display: inline-block;
  }

  .file-info-download {
    position: absolute;
    bottom: 0.4rem;
    left: 0.4rem;
    .file-info-download-icon {
      margin-right: 0.4rem;
    }
    &-link {
      font-size: 1rem;
      padding: 0.5rem 0.7rem;
      border-radius: 0.5rem;
      color: #fff;
      background: #444444;
      border: 0;
      margin: 0.2rem;
    }
    &-link:hover {
      background: #000000;
      cursor: pointer;
    }
  }
  .file-info-preview {
    text-align: center;
    flex-grow: 1;
    &-image {
      max-width: 11rem;
      max-height: 10rem;
      height: auto;
    }
  }
}

.preview-fullscreen {
  background: #ffffff;
  border-bottom: 1px solid #cdcdcd;
  left: 12rem;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  z-index: 100;
  &-image {
    border-radius: 1.4rem;
    height: auto;
    max-width: 100%;
    padding: 1rem;
  }
}
